@model Ticket
<div class="container p-4">
  <div class="card">
    <div class="card-header fw-bold">
      <div>@Model.Headline</div>
      <div>Ticket ID: @Model.TicketID</div>
    </div>
    <div class="card-body">
      <div class="line"></div>
      <div class="card-title fw-bold text-center">
        <div class="fs-4">@Model.Project.Title</div>
        <div class="assignedTo">Ticket assigned to: @Model.AssignedTo.FirstName @Model.AssignedTo.LastName</div>
      </div>
      <form asp-action="EditTicket" method="post">
        <div class="line"></div>
        <label>Assigned To: </label>
        <span asp-validation-for="AssignedTo"></span>
        <select asp-for="AssignedTo.EmployeeID" asp-items="@ViewBag.Employee" class="form-control">
        </select>
        <label>Description:</label>
        <span asp-validation-for="Description"></span>
        <div> <textarea asp-for="Description"></textarea></div>
        <button class="newButton mt-2" type="submit">Submit Ticket</button>
        <input type="hidden" asp-for="Headline" />
        <input type="hidden" asp-for="TicketID" />
        <input type="hidden" asp-for="Project.ProjectID" />
        <input type="hidden" asp-for="CreatedAt" />
        <input type="hidden" asp-for="CreatedBy.EmployeeID" />
      </form>
    </div>
    <div class="card-footer text-muted createdBy">
      Created @Model.CreatedAt by @Model.CreatedBy.FirstName @Model.CreatedBy.LastName
      @if (Model.SolvedAt != null)
      {
        @:Solved @Model.SolvedAt
      }
    </div>
  </div>
  <div class="pt-3 p-1">
    <a class="BackButton" asp-action="ShowTickets">Back</a>
  </div>
</div>
