@model IQueryable<Ticket>
<div class="container p-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Projekt</th>
        <th>Headline</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var ticket in Model)
      {
        <tr>
          <td><a class="aTableRow" asp-action="TicketDetail" asp-route-id="@ticket.TicketID">@ticket.Project.Title</a></td>
          <td><a class="aTableRow" asp-action="TicketDetail" asp-route-id="@ticket.TicketID">@ticket.Headline</a></td>
          @if (ticket.SolvedAt is null && ticket.AssignedTo.Terminated == true)
          {
            <td style="text-align: center"><a class="aButton" asp-action="EditTicket" asp-route-id="@ticket.TicketID">Edit @ticket.AssignedTo.FirstName @ticket.AssignedTo.LastName</a></td>
          }
          else if (ticket.SolvedAt is null && ticket.AssignedTo.Terminated == false)
          {
            <td style="text-align: center"><a  class="aButton" asp-action="EditTicket" asp-route-id="@ticket.TicketID">Edit</a></td>
          }
          else if (ticket.SolvedAt is not null && ticket.AssignedTo.Terminated == true)
          {
            <td style="text-align: center "><a class="btn btn-outline-success pb-0 pt-0"><div>Closed @ticket.SolvedAt</div></a></td>
          }
          else
          {
            <td style="text-align:center"><a class="btn btn-outline-success pb-0 pt-0"><div>Solved @ticket.SolvedAt</div></a></td>
          }
        </tr>
      }
    </tbody>
  </table>
  <div>
    <a class="newButton" asp-action="NewTicket">New Ticket</a>
    @ViewBag.Employee
    @ViewBag.Project
  </div>
</div>
